<div class="reveal">

    <h5 *ngIf="status === 'SCANNING'">Scanning for devices</h5>
    <h5 *ngIf="status === 'SENSORTAG_FOUND'">Found a Sensor</h5>
    <h5 *ngIf="status === 'READING_DEVICE_INFO' || status === 'CONNECTING'">Connecting to Sensor</h5>
    <h5 *ngIf="status === 'DEVICE_INFO_AVAILABLE'">Sensor Connected!</h5>

    <div *ngIf="status === 'ERROR'">
        <h5>Error connecting</h5>
        <p>Something seems to have gone wrong with connecting to the sensor. Please try again.</p>
        <button class="button expanded" (click)="connectToNearestDevice()">Try Again</button>
        <button class="button expanded secondary hollow" data-close>Cancel</button>
    </div>


    <div *ngIf="status === 'SENSORTAG_NOT_FOUND'">
        <h5>Could not find sensor</h5>
        <p>Make sure you have the sensor tag turned on. Check if LED light is blinking on device.</p>
        <button class="button expanded" (click)="connectToNearestDevice()">Try Again</button>
        <button class="button expanded secondary hollow" data-close>Cancel</button>
    </div>

    <div *ngIf="status !== 'SENSORTAG_NOT_FOUND' && status !== 'DEVICE_INFO_AVAILABLE' && status !== 'ERROR'" class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
        <div class="progress-meter" style="width: {{statusPercentage}}%"></div>
    </div>

    <div *ngIf="status === 'DEVICE_INFO_AVAILABLE'">
        <label>
            <input type="text" placeholder="Sensor name" #sensorName />
        </label>
        <p class="help-text" id="passwordHelpText">Enter a name to identify this sensor. You can use the location of the sensor, etc</p>

        <button class="button expanded" (click)="nameSensor(sensorName.value)">Ok</button>
    </div>
</div>

<div class="callout" *ngIf="sensors.length === 0">
    No sensors added to this job yet. Please click "Add a Sensor" to add a sensor to this job.
</div>

<button (click)="connectToNearestDevice()" class="expanded large button">
    <i class="fa fa-plus-circle button-icon"></i>Add a Sensor
</button>

<button *ngIf="sensors && sensors.length > 0" class="expanded large button success" (click)="saveDevices()">
    <i class="fa fa-check button-icon"></i>Done
</button>

<div *ngFor="#sensor of sensors; #i = index">
    <sensor [sensor]="sensor" (onDeviceDisconnected)="deviceDisconnectedHandler(sensor)"></sensor>
</div>
