<div class="callout" *ngIf="readings.length > 0">
	<div>{{readings.length}} Reading{{readings.length === 1 ? "" : "s"}}</div>
	<div>Last Reading: {{readings[readings.length - 1].date | date:"MMM d yyyy h:mm"}}</div>

	<a class="chart-link" (click)="loadReadings()"><i class="fa fa-refresh"></i></a>
</div>

<div class="callout" *ngIf="sensors.length > 0 && readings.length === 0">
	No readings yet. Please click "Take a Reading" in order to get your first reading.
</div>

<div class="callout" *ngIf="sensors.length === 0">
	No sensors added to this job yet. Please configure the sensors for this job in order to take readings.
</div>

<button *ngIf="sensors.length > 0" class="button large expanded" (click)="takeReading()"><i class="fa fa-tachometer"></i>Take a Reading</button>

<div class="callout" *ngIf="readings.length > 0">
	<h3>Humidity</h3>

	<div *ngFor="#sensorData of readings[readings.length - 1].sensorData" class="row reading-row">
		<div class="columns small-4 reading-label">
			{{sensorData.name}} 
		</div>
	 	<div class="columns small-8 reading-value">
			{{sensorData.data.humidityData.relativeHumidity}}% rH
		</div>
	</div>

	<a class="chart-link" (click)="goToReadingDetails('humidity')"><i class="fa fa-line-chart"></i></a>
</div>


<div class="callout" *ngIf="readings.length > 0">
	<h3>Target Temperature</h3>

	<div *ngFor="#sensorData of readings[readings.length - 1].sensorData" class="row reading-row">
		<div class="columns small-4 reading-label">
			{{sensorData.name}}
		</div>
	 	<div class="columns small-8 reading-value">
			 {{sensorData.data.temperatureData.targetTemperature}}&#x000B0; F
		 </div>
	</div>

	<a class="chart-link" (click)="goToReadingDetails('targetTemperature')"><i class="fa fa-line-chart"></i></a>
</div>


<div class="callout" *ngIf="readings.length > 0">
	<h3>Ambient Temperature</h3>

	<div *ngFor="#sensorData of readings[readings.length - 1].sensorData" class="row reading-row">
		<div class="columns small-4 reading-label">
			{{sensorData.name}}
		</div>
	 	<div class="columns small-8 reading-value">
	 		{{sensorData.data.temperatureData.ambientTemperature}}&#x000B0; F
	 	</div>
	</div>

	<a class="chart-link" (click)="goToReadingDetails('ambientTemperature')"><i class="fa fa-line-chart"></i></a>
</div>


<button class="button large expanded secondary" (click)="goToConfigureJob()"><i class="fa fa-cog"></i>Configure Sensors</button>