platforms/android/cordova/node_modules
platforms/android/CordovaLib/

plugins
bower_components
node_modules

npm-debug.log
*.map
*.spec.js
www/app/*.js
typings
www/app/technician/*.js
www/app/client/*.js
