<div class="reveal">

    <div *ngIf="!job">
        <p *ngIf="status !== 'ERROR'">Help us to find your account by entering your policy number below</p>

        <p *ngIf="status === 'ERROR'" class="error">Could not find policy. Please try again.</p>

        <label>Policy Number
            <input type="number" placeholder="####" #policyNumberInput>
        </label>

        <button class="button expanded" (click)="findAccount(policyNumberInput.value)">Find My Account</button>
    </div>


    <div *ngIf="job">
    	<h5>{{status}}</h5>

        <h5 *ngIf="status === 'SCANNING'">Scanning for devices</h5>

        <div *ngIf="status !== 'SCANNING' && foundAddresses.length < sensors.length" class="row">
    	    <h5>
    	    	Found {{foundAddresses.length}} sensors out of {{sensors.length}}. Try scanning again?
    	    </h5>
        	<button class="button expanded" (click)="scanForSensors()">Try again</button>
        	<button class="button secondary hollow expanded" data-close>Cancel</button>
        </div>
    </div>
</div>

<button *ngIf="sensors && sensors.length > 0 && foundAddresses.length >= sensors.length" class="button large expanded" (click)="takeReading()">
	<i class="fa fa-tachometer"></i>Take a Reading
</button>


<div *ngFor="#device of sensors; #i = index">
    <sensor [sensor]="device" [mode]="'client'"></sensor>
</div>