<div class="reveal">

    <div *ngIf="!job">
        <p *ngIf="status !== 'ERROR'">Help us to find your account by entering your policy number below</p>

        <p *ngIf="status === 'ERROR'" class="error">Could not find policy. Please try again.</p>

        <label>Policy Number
            <input type="number" placeholder="####" #policyNumberInput>
        </label>

        <button class="button expanded" (click)="findAccount(policyNumberInput.value)">Find My Account</button>

        <button class="button secondary hollow expanded" (click)="cancel()">Cancel</button>

    </div>

</div>

<scanner-component [sensors]="sensors" [job]="job" [isClient]="true" (onConnectionComplete)="connectionCompleteHandler($event)" (onTakeReading)="loadReadings()"></scanner-component>

<div class="callout" *ngIf="readings.length > 0">
    {{readings.length}} Reading{{readings.length === 1 ? "" : "s"}}
    <div class="reading-value">
        {{readings[readings.length - 1].date | date:"h:mm MMM d"}}
    </div>

    <a class="chart-link" (click)="loadReadings()"><i class="fa fa-refresh"></i></a>
</div>

<div *ngFor="#device of sensors">
    <sensor [sensor]="device" [mode]="'client'"></sensor>
</div>