.chart-link {
    font-size: 2.5rem;
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -30px
}

.reading-row {
	margin-bottom: 5px;
}

.reading-value {
	font-size: 1.5rem;
	font-weight: 600;
}

.reading-label {
	text-transform: uppercase;
    padding-top: 10px;
}