<h1>{{title}}</h1> 

<p>
    <strong>Status:</strong> <span id="StatusData">{{status}}</span>
</p>

<h2>Device info:</h2>
<p>
    SensorTag device model: <span id="DeviceModel">{{deviceModel}}</span><br />
    Firmware version: <span id="FirmwareData">{{firmwareData}}</span>
</p>

<button (click)="scan()" class="charcoal">
    Scan
</button>

<button (click)="disconnect()" class="charcoal">
    Disconnect
</button>

<div *ngFor="#device of knownDevices">
    <h3>{{device.address}}</h3>
    <button (click)="connectToDevice(device)">Connect</button>

    <div>Sensor Data</div>
    <div *ngIf="connectedSensorData[device.address]">Humidity Data: 
        <div>
            {{connectedSensorData[device.address].humidityData.humidityTemperature}} C
        </div>
        <div>
            {{connectedSensorData[device.address].humidityData.humidityTemperatureFahrenheit}} F
        </div>
        <div>
            {{connectedSensorData[device.address].humidityData.relativeHumidity}}% humidity
        </div>
    </div>
</div>


<!-- 
    <h2>Temperature:</h2>
    <p>
        <span id="TemperatureData">{{temperatureData}}</span>
    </p>

    <div [ngClass]="{white: (currentKey === 0), red: (currentKey === 1), blue: (currentKey === 2), purple: (currentKey === 3)}">
        <h2>Keypress:</h2>
        <p>
            <span id="KeypressData">{{keypressData}}</span>
        </p>
    </div>

    <h2>Accelerometer:</h2>
    <p>
        <span id="AccelerometerData">[Waiting for value]</span>
    </p>
    <h2>Magnetometer:</h2>
    <p>
        <span id="MagnetometerData">[Waiting for value]</span>
    </p>

    <h2>Barometer:</h2>
    <p>
        <span id="BarometerData">[Waiting for value]</span>
    </p>

    <h2>Gyroscope:</h2>
    <p>
        <span id="GyroscopeData">[Waiting for value]</span>
    </p>

    <div id="Luxometer">
        <h2>Luxometer:</h2>
        <p>
            <span id="LuxometerData">[Waiting for value]</span>
        </p>
    </div>

 -->