<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">{{title}}</li>
        </ul>
    </div>
</div>

<div class="row columns">
    
    <button (click)="scan()" class="expanded large button">
        Scan
    </button>

    <div *ngFor="#device of knownDevices">
        <h3>{{device.address}}</h3>
        
        <div class="expanded button-group">
            <button (click)="connectToDevice(device)" class="button">Connect</button>

            <button (click)="disconnectFromDevice(device)" class="button secondary">Disconnect</button>
        </div>

        <div>Sensor Data</div>
        <div *ngIf="connectedSensorData[device.address]">Humidity Data: 
            <div>
                {{connectedSensorData[device.address].humidityData.humidityTemperature}} C
            </div>
            <div>
                {{connectedSensorData[device.address].humidityData.humidityTemperatureFahrenheit}} F
            </div>
            <div>
                {{connectedSensorData[device.address].humidityData.relativeHumidity}}% humidity
            </div>
        </div>
    </div>
</div>



<!-- 
    <h2>Temperature:</h2>
    <p>
        <span id="TemperatureData">{{temperatureData}}</span>
    </p>

    <div [ngClass]="{white: (currentKey === 0), red: (currentKey === 1), blue: (currentKey === 2), purple: (currentKey === 3)}">
        <h2>Keypress:</h2>
        <p>
            <span id="KeypressData">{{keypressData}}</span>
        </p>
    </div>

    <h2>Accelerometer:</h2>
    <p>
        <span id="AccelerometerData">[Waiting for value]</span>
    </p>
    <h2>Magnetometer:</h2>
    <p>
        <span id="MagnetometerData">[Waiting for value]</span>
    </p>

    <h2>Barometer:</h2>
    <p>
        <span id="BarometerData">[Waiting for value]</span>
    </p>

    <h2>Gyroscope:</h2>
    <p>
        <span id="GyroscopeData">[Waiting for value]</span>
    </p>

    <div id="Luxometer">
        <h2>Luxometer:</h2>
        <p>
            <span id="LuxometerData">[Waiting for value]</span>
        </p>
    </div>

 -->