<h1>{{title}}</h1> 

    <p>
        <strong>Status:</strong> <span id="StatusData">{{status}}</span>
    </p>

    <h2>Device info:</h2>
    <p>
        SensorTag device model: <span id="DeviceModel">{{deviceModel}}</span><br />
        Firmware version: <span id="FirmwareData">{{firmwareData}}</span>
    </p>

    <p id="upgradeNotice" class="hidden">
        <span class="color_softred">Please upgrade the firmware of your SensorTag.</span>
    </p>

    <button (click)="connect()" class="green">
        Connect
    </button>

    <button (click)="disconnect()" class="charcoal">
        Disconnect
    </button>

    <h2>Humidity:</h2>
    <p>
        <span id="HumidityData">{{humidityData}}</span>
    </p>

    <h2>Temperature:</h2>
    <p>
        <span id="TemperatureData">{{temperatureData}}</span>
    </p>

    <div [ngClass]="{white: (currentKey === 0), red: (currentKey === 1), blue: (currentKey === 2), purple: (currentKey === 3)}">
        <h2>Keypress:</h2>
        <p>
            <span id="KeypressData">{{keypressData}}</span>
        </p>
    </div>

<!-- 
    <h2>Accelerometer:</h2>
    <p>
        <span id="AccelerometerData">[Waiting for value]</span>
    </p>
    <h2>Magnetometer:</h2>
    <p>
        <span id="MagnetometerData">[Waiting for value]</span>
    </p>

    <h2>Barometer:</h2>
    <p>
        <span id="BarometerData">[Waiting for value]</span>
    </p>

    <h2>Gyroscope:</h2>
    <p>
        <span id="GyroscopeData">[Waiting for value]</span>
    </p>

    <div id="Luxometer">
        <h2>Luxometer:</h2>
        <p>
            <span id="LuxometerData">[Waiting for value]</span>
        </p>
    </div>

 -->