<h2 *ngIf="device">
	{{device.name}}
</h2>

<div *ngIf="!device.data" class="callout">
	No data available for this device
</div>

<div *ngIf="device.data">

	<h5>Humidity: {{device.data.humidityData.relativeHumidity}}% rH</h5>

	<chart-component [data]="device.data.humidityData.lastTenValues" [ispercentage]="true"></chart-component>

	<h5>Target Temperature: {{device.data.temperatureData.targetTemperature}}&#x000B0; F</h5>

	<chart-component [data]="device.data.temperatureData.lastTenTarget" [ispercentage]="false"></chart-component>


	<h5>Ambient Temperature: {{device.data.temperatureData.ambientTemperature}}&#x000B0; F</h5>

	<chart-component [data]="device.data.temperatureData.lastTenAmbient" [ispercentage]="false"></chart-component>

</div>