<div *ngFor="#sensor of sensors; #i = index">
    <sensor [sensor]="sensor" [dindex]="i" (onDeviceNamed)="deviceNamedHandler()"></sensor>
</div>

<div *ngIf="status && status !== 'DEVICE_INFO_AVAILABLE'" class="callout" [ngClass]="{warning: status === 'SENSORTAG_NOT_FOUND'}">
    <h5>{{status}}</h5>

    <h5 *ngIf="status === 'SCANNING'">Scanning for devices</h5>
    <h5 *ngIf="status === 'SENSORTAG_FOUND'">Found a Sensor</h5>
    <h5 *ngIf="status === 'READING_DEVICE_INFO' || status === 'CONNECTING'">Connecting to Sensor</h5>
    <h5 *ngIf="status === 'DEVICE_INFO_AVAILABLE'">Sensor Connected!</h5>

    <div *ngIf="status === 'SENSORTAG_NOT_FOUND'">
        <h5>Could not find sensor</h5>
        <p>Make sure you have the sensor tag turned on. Check if LED light is blinking on device.</p>
        <button class="button expanded" (click)="connectToNearestDevice()">Try Again</button>
    </div>

    <div *ngIf="status !== 'SENSORTAG_NOT_FOUND'" class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
        <div class="progress-meter" style="width: {{statusPercentage}}%"></div>
    </div>
</div>

<button *ngIf="!status" (click)="connectToNearestDevice()" class="expanded large button">
    <span class="button-icon">&#x02295;</span>Add a Sensor
</button>

<button *ngIf="!status && sensors && sensors.length > 0" class="expanded large button" (click)="saveDevices()">Save Sensors</button>

<!-- <button *ngIf="!status && sensors && sensors.length > 0" class="expanded large button" (click)="saveDevices()"><span class="button-icon">&#x021E5;</span>Send Report</button> -->