<div>
    <div class="callout" [ngClass]="{
        disconnected: sensor.status === 'DISCONNECTED' || sensor.status === 'CONNECTING' || sensor.status === 'CONNECTED' || sensor.status === 'READING_DEVICE_INFO',
        highlight: sensor.data.keypressData !== 0
    }">
        <div *ngIf="sensor.isNamed === false">
            <div class="input-group">
                <input class="input-group-field" type="text" placeholder="Sensor name" [(ngModel)]="sensor.name" />
                <div class="input-group-button">
                    <input type="submit" class="button" value="Submit" (click)="nameDevice(sensor.name)">
                </div>
            </div>
            <p class="help-text" id="passwordHelpText">Enter a name to identify this sensor. You can use the location of the sensor, etc</p>
        </div>

        <div *ngIf="sensor.isNamed === true">
            <h4 class="sensorName">{{sensor.name}}</h4>
            <div *ngIf="sensor.data.humidityData">
                <div>
                    Humidity: {{sensor.data.humidityData.relativeHumidity}}% rH
                </div>
            </div>
            <div *ngIf="sensor.data.temperatureData">
                <div>
                    Target Temp: {{sensor.data.temperatureData.targetTemperature}}&#x000B0; F
                </div>
                <div>
                    Ambient Temp: {{sensor.data.temperatureData.ambientTemperature}}&#x000B0; F
                </div>
            </div>

            <h4 *ngIf="sensor.status === 'CONNECTING' || sensor.status === 'CONNECTED' || sensor.status === 'READING_DEVICE_INFO'">CONNECTING</h4>
            <div  *ngIf="!(sensor.status === 'CONNECTING' || sensor.status === 'CONNECTED' || sensor.status === 'READING_DEVICE_INFO')" class="text-right">
                <button (click)="disconnect()" class="button alert hollow">
                    Delete
                </button>

                <button *ngIf="sensor.isConnected" (click)="sensor.isNamed = false" class="button secondary hollow">Edit</button>

                <button *ngIf="sensor.isConnected" (click)="goToSensorDetails()" class="button secondary hollow">Details</button>
            </div>
        </div>
    </div>
</div>