h4 {
	font-weight: 600;
	text-transform: uppercase;
}

h4 small {
	font-weight: normal;
}

.highlight {
    background-color: #FEFFC8;
    box-shadow: #b2b2b2 0px 2px 10px;
}

.disconnected {
	background-color: #b2b2b2;
	color: #777777;
}
