<div>
    <div class="callout" [ngClass]="{
        alert: sensor.status === 'DISCONNECTED', 
        warning: sensor.status === 'CONNECTING' || sensor.status === 'CONNECTED' || sensor.status === 'READING_DEVICE_INFO',
        success: sensor.data.keypressData !== 0
    }">
        <div *ngIf="sensor.isNamed === false">
            <div class="input-group">
                <input class="input-group-field" type="text" placeholder="Sensor name" [(ngModel)]="sensor.name" />
                <div class="input-group-button">
                    <input type="submit" class="button" value="Submit" (click)="nameDevice(sensor.name)">
                </div>
            </div>
            <p class="help-text" id="passwordHelpText">Enter a name to identify this sensor. You can use the location of the sensor, etc</p>
        </div>

        <div *ngIf="sensor.isNamed === true">
            <h4 class="sensorName">{{sensor.name}} <small>{{sensor.address}}</small></h4>
            <div *ngIf="sensor.data.humidityData">
                <div>
                    Humidity: {{sensor.data.humidityData.relativeHumidity}}% rH
                </div>
            </div>

            <h4 *ngIf="sensor.status === 'CONNECTING' || sensor.status === 'CONNECTED' || sensor.status === 'READING_DEVICE_INFO'">CONNECTING</h4>
            <div  *ngIf="!(sensor.status === 'CONNECTING' || sensor.status === 'CONNECTED' || sensor.status === 'READING_DEVICE_INFO')" class="button-group">
                <button (click)="toggleDeviceConnection()" class="button" [ngClass]="{secondary: sensor.isConnected, success: !sensor.isConnected}">
                    {{sensor.isConnected ? 'Disconnect' : 'Connect'}}
                </button>

                <button *ngIf="sensor.isConnected" (click)="sensor.isNamed = false" class="button secondary">Rename</button>
                <button *ngIf="sensor.isConnected" (click)="goToSensorDetails()"class="button">Details</button>
            </div>
        </div>
    </div>
</div>